# --------------------------------------------------
# PYTHON
# --------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------------------------------------
# DATABASE / LOCAL FILES
# --------------------------------------------------
*.db
*.sqlite3

# --------------------------------------------------
# VIRTUAL ENV & ENV FILES (VERY IMPORTANT)
# --------------------------------------------------
venv/
.env
.flaskenv

# --------------------------------------------------
# FLASK
# --------------------------------------------------
instance/

# --------------------------------------------------
# LOGS
# --------------------------------------------------
*.log

# --------------------------------------------------
# OS / EDITOR FILES
# --------------------------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
